:root {
    --story-blue: #171740;
    --story-red: rgb(213, 30, 81);
    --story-gold: #FCAF3B;
    --story-white: #FFF;
    --story-green: #88da62;
}

.placeholderImg {
  width: 100%;
}

.videoWithOverlay {
  display: flex;
}

.video {
  width: 100%;
}

.textOverlay {
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  color: aliceblue;
  font-size: 5em;
  left: 100px;
  top: 14em;
}

.dContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.button {
  height: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* ------------CSS for the stories---start---------- */
/* common  */
.text-hero-red, .text-hero-yellow, .text-hero-blue {
  width: 20vw;
  height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-hero-title-red, .text-hero-title-yellow, .text-hero-title-blue {
  font-size: 1.5em;
}
.text-hero-subtitle-red, .text-hero-subtitle-yellow, .text-hero-subtitle-blue {
    font-size: 0.9em;
    width: 300px;
    text-align: center;
    overflow-wrap: break-word;
}
.text-hero-button-red, .text-hero-button-yellow, .text-hero-button-blue {
  padding: 5px;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
}

/* title only  */
.text-hero-title-only {
  background: #FCAF3B;
  color: var(--story-blue);
  font: 1em sans-serif;
  width: 20vw;
  height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* RED  */
.text-hero-red {
  background: var(--story-red);  
}

.text-hero-title-red {
  color: var(--story-gold); 
}

.text-hero-subtitle-red {
  color: var(--story-white);
 
}

.text-hero-button-red {
  background: var(--story-blue);
  color: var(--story-white);
}

/* Yellow  */
.text-hero-yellow {
  background: var(--story-gold);

}

.text-hero-title-yellow {
  color: var(--story-blue);
  font-size: 1.5em;
}

.text-hero-subtitle-yellow {
  color: var(--story-blue);
  
}

.text-hero-button-yellow {
  background: var(--story-blue);
  color: var(--story-white);
}

/* Blue  */
.text-hero-blue {
  background: var(--story-blue);

}

.text-hero-title-blue {
  color: var(--story-gold);
  font-size: 1.5em;
}

.text-hero-subtitle-blue {
  color: var(--story-white); 
}

.text-hero-button-blue {
  background: var(--story-gold);
  color: var(--story-blue);
}
/* -----CSS for the stories-------end-------------------- */

.newsletter-box {
  display: flex;
  flex-direction: column;
  height: 15em;
  background-color: blue;
  justify-content: space-around;
  align-items: center;
}

.email-form {
  height: 3
  em;
}

.signup-button {
  height: 3em;
}
