:root {
    --story-blue: rgb(12, 65, 144);
    --story-red: rgb(213, 30, 81);
    --story-gold: rgb(255, 191, 0);
}

.placeholderImg {
  width: 100%;
}

.videoWithOverlay {
  display: flex;
}

.video {
  width: 100%;
}

.textOverlay {
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  color: aliceblue;
  font-size: 5em;
  left: 100px;
  top: 14em;
}

.dContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.button {
  height: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* ------------CSS for the stories---start---------- */
/* RED  */
.text-hero-red {
  background: rgb(213, 30, 81);
  width: 350px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.text-hero-title-red {
  color: var(--story-gold);
  font-size: 1.5em;
}

.text-hero-subtitle-red {
  color: #fff;
  font-size: 0.9em;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word; 
}

.text-hero-button-red {
  background: var(--story-blue);
  padding: 5px;
  color: #fff;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
}

/* Yellow  */
.text-hero-yellow {
  background: var(--story-gold);
  width: 350px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.text-hero-title-yellow {
  color: var(--story-blue);
  font-size: 1.5em;
}

.text-hero-subtitle-yellow {
  color: #000;
  font-size: 0.9em;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word; 
}

.text-hero-button-yellow {
  background: var(--story-blue);
  padding: 5px;
  color: #fff;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
}

/* Blue  */
.text-hero-blue {
  background: var(--story-blue);
  width: 350px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.text-hero-title-blue {
  color: var(--story-gold);
  font-size: 1.5em;
}

.text-hero-subtitle-blue {
  color: #fff;
  font-size: 0.9em;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word; 
}

.text-hero-button-blue {
  background: var(--story-gold);
  padding: 5px;
  color: #000;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
}
/* -----CSS for the stories-------end-------------------- */
