.placeholderImg {
  width: 100%;
}

.videoWithOverlay {
  display: flex;
}

.video {
  width: 100%;
}

.textOverlay {
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  color: aliceblue;
  font-size: 5em;
  left: 100px;
  top: 14em;
}

.dContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.button {
  height: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
}